<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="run tests in parallel" parallel="tests" verbose="1"
       configfailurepolicy="continue" thread-count="5">
    <listeners>
        <!-- This TestNG listener takes care of setting up and tearing down the
            Local Selenium driver, and it also changes test names in the final TestNG
            HTML report. -->
        <listener
                class-name="com.sph.driverFactory.LocalWebDriverListener"/>
    </listeners>
             <test name="Tests Android in Remote">
             <parameter name="browserName" value="androidremote"/>
             <parameter name="driverHost" value="sales.experitest.com"/>
             <parameter name="driverPort" value="443"/>
             <parameter name="accessKey"
                        value="eyJ4cC51IjoxODY0NjUsInhwLnAiOjE4NjQ2MSwieHAubSI6Ik1UVXpOekl6Tmprek5qQXhOQSIsImFsZyI6IkhTMjU2In0.eyJleHAiOjE4NTI1OTY5MzYsImlzcyI6ImNvbS5leHBlcml0ZXN0In0.pwFBX57gdkT0IMyJFbLmk5BoG7m-dc0GRDRZRkyTY40"/>
             <parameter name="projectName" value="SPH_POC"/>
	        <parameter name="appPath" value="cloud:com.buuuk.st/com.sph.straitstimes.views.activities.SplashActivity"/>
	        <parameter name="appActivity" value="com.sph.straitstimes.views.activities.SplashActivity"/>
	        <parameter name="appPackage" value="com.buuuk.st"/>
             <classes>
                 <class name="com.sph.runners.RunCukesTestAndroidPhone"/>
             </classes>
         </test>  
            <!-- <test name= "Tests Android in Local ">
             <parameter name="browserName" value="androidlocal" />
             <parameter name="driverHost" value="127.0.0.1" />
             <parameter name="driverPort" value="4723" />
             <parameter name="devicename" value="emulator-5554" />
             <parameter name="appPath" value ="/Users/madhu/git/parallel-testing-cucumber/src/test/resources/appDrivers/Android_APK.apk"/>
             <parameter name="appActivity" value="com.sph.straitstimes.views.activities.TncActivity"/>
             <parameter name="appPackage" value ="com.buuuk.st"/>
             <classes>
                 <class name="com.sph.runners.RunCukesTestAndroidPhone" />
             </classes>
         </test>  -->
    <!--		<test name="Tests Chrome browser in Local">
           <parameter name="browserName" value="chromelocal"/>
           <classes>
               <class name="com.sph.runners.RunCukesTestInWeb"/>
           </classes>
       </test>  
    	<test name="Tests in Chrome browser Remotely">
        <parameter name="browserName" value="chromeremote"/>
        <parameter name="driverHost" value="sales.experitest.com"/>
        <parameter name="driverPort" value="443"/>
        <parameter name="accessKey"
                   value="eyJ4cC51IjoxODY0NjUsInhwLnAiOjE4NjQ2MSwieHAubSI6Ik1UVXpOekl6Tmprek5qQXhOQSIsImFsZyI6IkhTMjU2In0.eyJleHAiOjE4NTI1OTY5MzYsImlzcyI6ImNvbS5leHBlcml0ZXN0In0.pwFBX57gdkT0IMyJFbLmk5BoG7m-dc0GRDRZRkyTY40"/>
        <parameter name="projectName" value="SPH_POC"/>
        <classes>
            <class name="com.sph.runners.RunCukesTestInWeb"/>
        </classes>
    </test>
     <test name= "Tests Safari Browser in Remote ">
        <parameter name="browserName" value="IOSREMOTEBROWSER" />
        <parameter name="driverHost" value="sales.experitest.com"/>
        <parameter name="driverPort" value="443"/>
        <parameter name="accessKey"
                   value="eyJ4cC51IjoxODY0NjUsInhwLnAiOjE4NjQ2MSwieHAubSI6Ik1UVXpOekl6Tmprek5qQXhOQSIsImFsZyI6IkhTMjU2In0.eyJleHAiOjE4NTI1OTY5MzYsImlzcyI6ImNvbS5leHBlcml0ZXN0In0.pwFBX57gdkT0IMyJFbLmk5BoG7m-dc0GRDRZRkyTY40"/>
        <parameter name="projectName" value="SPH_POC"/>
        <classes>
            <class name="com.sph.runners.RunCukesTestInWeb" />
        </classes>
    </test>
       <test name= "Tests Android Browser in Local ">
          <parameter name="browserName" value="androidlocalbrowser" />
          <parameter name="driverHost" value="0.0.0.0" />
          <parameter name="driverPort" value="4723" />
          <parameter name="devicename" value="0215313745333838" />
          <classes>
              <class name="com.sph.runners.RunCukesTestInWeb" />
          </classes>
      </test>

      <test name="Tests in Android Browser in Remote">
          <parameter name="browserName" value="androidremotebrowser"/>
          <parameter name="driverHost" value="sales.experitest.com"/>
          <parameter name="driverPort" value="443"/>
          <parameter name="accessKey"
                     value="eyJ4cC51IjoxODY0NjUsInhwLnAiOjE4NjQ2MSwieHAubSI6Ik1UVXpOekl6Tmprek5qQXhOQSIsImFsZyI6IkhTMjU2In0.eyJleHAiOjE4NTI1OTY5MzYsImlzcyI6ImNvbS5leHBlcml0ZXN0In0.pwFBX57gdkT0IMyJFbLmk5BoG7m-dc0GRDRZRkyTY40"/>
          <parameter name="projectName" value="SPH_POC"/>
          <classes>
              <class name="com.sph.runners.RunCukesTestInWeb"/>
          </classes>
      </test> -->

          <test name="Tests iOS in Remote">
          <parameter name="browserName" value="iosremote"/>
          <parameter name="driverHost" value="sales.experitest.com"/>
          <parameter name="driverPort" value="443"/>
          <parameter name="accessKey"
                     value="eyJ4cC51IjoxODY0NjUsInhwLnAiOjE4NjQ2MSwieHAubSI6Ik1UVXpOekl6Tmprek5qQXhOQSIsImFsZyI6IkhTMjU2In0.eyJleHAiOjE4NTI1OTY5MzYsImlzcyI6ImNvbS5leHBlcml0ZXN0In0.pwFBX57gdkT0IMyJFbLmk5BoG7m-dc0GRDRZRkyTY40"/>
          <parameter name="projectName" value="SPH_POC"/>
        	<parameter name="appPath" value="cloud:com.sph.stiPhone"/>
        <classes>
            <class name="com.sph.runners.RunCukesTestIPhone"/>
        </classes>
    </test>  
  <!--   <test name="Tests iOS in Local Simulator">
            <parameter name="browserName" value="IOSLOCALSIMULATOR"/>
            <parameter name="driverHost" value="127.0.0.1" />
            <parameter name="driverPort" value="4723" />
            <parameter name="devicename" value="iPhone X"/>
            <parameter name="appPath" value="/Users/madhu/Documents/Apps/StraitsTimes-Revamp.app"/>
            <parameter name="bundleID" value="com.sph.stiPhone"/>
            <parameter name="xcodeConfigFile" value="/src/test/resources/configs/appium.xcconfig"/>
            <parameter name="xcodeOrgId" value="L6TLAD67NF"/>
            <parameter name="xcodeSigningId" value="iPhone Developer"/>
            <parameter name="udID" value="491EF6D0-9199-4A75-9941-A006B35F4E77"/>

            <classes>
                <class name="com.sph.runners.RunCukesTestIPhone"/>
            </classes>
        </test> -->
         
   <!--  <test name="Tests Chrome browser in Local in headless mode">
        <parameter name="browserName" value="chromeheadless"/>
        <classes>
            <class name="com.sph.runners.RunCukesTestInWeb"/>
        </classes>
    </test>-->
</suite>